////
/// complex-background-cover placeholder.
/// @access public
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

/// A placeholder for creating base styles for wrappers which
/// simulate background-size: cover.
%complex-background-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  overflow: hidden;

  .background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    min-width: 100%;
  }
}
