////
/// fade-out-link placeholder.
/// @access public
/// @group gui
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "../colors";

/// A placeholder for creating links with "fade-out" effect on hover.
%fade-out-link {
  @extend %fade-link-base;
  @extend %fade-link-solid-base;

  &:hover, &:focus, &:active {
    color: $arara-yellow;

    &:after {
      transform: translateY(0.5em);
      opacity: 0;
    }
  }
}
