////
/// fade-link-base placeholder.
/// @access public
/// @group gui
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

/// A placeholder for creating links with "fade" effect on hover (base styles).
%fade-link-base {
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.15s linear;
  color: inherit;

  &:focus {
    outline: none;
  }
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-color: currentColor;
    transition: transform 0.15s linear, opacity 0.15s linear;
    content: "";
  }
}
