////
/// fade-in-link placeholder.
/// @access public
/// @group gui
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

/// A placeholder for creating links with "fade-in" effect on hover.
%fade-in-link {
  @extend %fade-link-base;
  @extend %fade-link-solid-base;

  &:after {
    transform: translateY(0.5em);
    opacity: 0;
  }

  &:hover, &:focus, &:active {
    &:after {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
