////
/// fade-link-semibold-base placeholder.
/// @access public
/// @group gui
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "../settings";

/// A placeholder for creating links with "fade" effect on hover (base styles for links
/// with semibold font).
%fade-link-semibold-base {
  font-weight: $headings-font-weight-semibold;

  &:after {
    border-bottom-width: 2px;
  }
}
