////
/// A set of placeholders for headings.
/// @access public
/// @group typography
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "../settings";

/// Base styles for all headings.
%heading-base {
  margin-bottom: $headings-margin-bottom;
}
/// Base styles for thin headings.
%heading-base-thin {
  @extend %heading-base;
  font-weight: $headings-font-weight-thin;
}
/// Base styles for semibold headings.
%heading-base-semibold {
  @extend %heading-base;
  font-weight: $headings-font-weight-semibold;
}

/// h1-like heading with thin font.
%heading-h1-thin {
  @extend %heading-base-thin;
  font-size: $headings-font-size-h1;
}
/// h2-like heading with thin font.
%heading-h2-thin {
  @extend %heading-base-thin;
  font-size: $headings-font-size-h2;
}
/// h3-like heading with thin font.
%heading-h3-thin {
  @extend %heading-base-thin;
  font-size: $headings-font-size-h3;
}
/// h4-like heading with thin font.
%heading-h4-thin {
  @extend %heading-base-thin;
  font-size: $headings-font-size-h4;
}
/// h5-like heading with thin font.
%heading-h5-thin {
  @extend %heading-base-thin;
  font-size: $headings-font-size-h5;
}

/// h1-like heading with semibold font.
%heading-h1-semibold {
  @extend %heading-base-semibold;
  font-size: $headings-font-size-h1;
}
/// h2-like heading with semibold font.
%heading-h2-semibold {
  @extend %heading-base-semibold;
  font-size: $headings-font-size-h2;
}
/// h3-like heading with semibold font.
%heading-h3-semibold {
  @extend %heading-base-semibold;
  font-size: $headings-font-size-h3;
}
/// h4-like heading with semibold font.
%heading-h4-semibold {
  @extend %heading-base-semibold;
  font-size: $headings-font-size-h4;
}
/// h5-like heading with semibold font.
%heading-h5-semibold {
  @extend %heading-base-semibold;
  font-size: $headings-font-size-h5;
}
