////
/// Placeholders for video links and tech specs.
/// @access public
/// @author Semyon Filippov <filippov.sem@gmail.com>
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "colors";

$icon-size: 2.5em;

/// A placeholder for main content links in sections.
%section-content-link {
  display: inline-block;
  position: relative;
  margin-top: 4vh;
  padding-left: calc(#{$icon-size} + 1ch);
  color: #fff;
  text-decoration: none;
  text-align: left;
  transition: color 0.2s linear;
  outline: none;

  .block-line {
    display: block;
  }
}
%section-content-link:hover,
%section-content-link:focus {
  color: $arara-yellow;
}

%section-content-link {
  &:before, &:after {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    margin-right: 1ch;
    vertical-align: middle;
    background-size: cover;
    transition: opacity 0.2s linear;
    pointer-events: none;
    content: "";
  }

  &:after {
    opacity: 0;
    filter: url(#svg-colorize-yellow);
  }
  &:hover, &:focus {
    &:before {
      opacity: 0;
    }
    &:after {
      opacity: 1;
    }
  }
}
