////
/// viewport-section placeholder.
/// @access public
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

/// A placeholder for creating full-sized viewport sections.
%viewport-section {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
