////
/// Base styles for the color selection component.
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "../colors";
@import "../functions";
@import "../mixins";

// The diameter of the component's "circle".
$diameter: 10rem;
// The diameter of the component's round buttons.
$button-diameter: 2.5rem;
// Circle outline width.
$outline-width: 3px;

.color-selection {
  position: relative;
  display: block;
  width: $diameter;
  height: $diameter;
  transition: transform 0.2s linear;
}
.color-selection .colors-list {
  list-style-type: none;
}
.color-selection .colors-outline-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}
.color-selection .colors-outline {
  stroke: rgba(#fff, 0.1);
  stroke-width: $outline-width;
  box-sizing: border-box;
  fill: none;
}
.color-selection .color {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.15s linear, background-color 0.15s linear,
              transform 0.15s linear;
  width: $button-diameter;
  height: $button-diameter;
  border: 0.3rem solid currentColor;
  border-radius: 50%;
  box-sizing: border-box;
  transform: scale(1);
  // Disable blue highlighting for the Android Browser:
  -webkit-tap-highlight-color: transparent;

  &.active, &:hover {
    opacity: 1;
    background-color: currentColor;
  }
  @media (hover: none) {
    // Disable :hover for touch devices:
    &:hover:not(.active) {
      opacity: 0.5;
      background-color: transparent;
    }
  }
  &.active {
    transform: scale(1.2);
  }
  // font-size: 0 makes Google Chrome crazy — hide text with wrapper element:
  .name {
    display: none;
  }
}

.color-selection {
  @each $color-name, $color-value in $arara-colors {
    .#{$color-name} {
      color: $color-value;
    }
  }
}

@include screen-portrait {
  .color-selection .colors-outline-container {
    display: none;
  }
}
@include screen-landscape {
  .color-selection {
    margin-left: $button-diameter / 4;
    margin-top: $button-diameter / 2;
  }
  .color-selection .color {
    position: absolute;
  }

  $angle: 0deg;
  $delta: 360deg / length($arara-colors);

  @each $color-name, $color-value in $arara-colors {
    .color-selection .#{$color-name} {
      $left: $diameter / 2 * (1 + sin($angle)) - $button-diameter / 2;
      $top: $diameter / 2 * (1 - cos($angle)) - $button-diameter / 2;
      left: $left;
      top: $top;
    }
    $angle: $angle + $delta;
  }
}
