////
/// Styles for the side dots navigation.
/// @author Semyon Filippov <filippov.sem@gmail.com>
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "../colors";
@import "../mixins";

@keyframes dot-glow {
  0% {
    stroke: rgba(#fff, 0.4);
    stroke-width: 0;
  }
  100% {
    stroke: rgba(#000, 0.0);
    stroke-width: 2;
  }
}
@include screen-landscape {
  .dots {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5em;
    width: 1.5em;
    height: 15em;
  }
  .dots .glow {
    fill: transparent;
    animation: dot-glow 3.5s cubic-bezier(0,.81,.46,1) infinite;
  }
  .dots .dot {
    cursor: pointer;
    outline: none;
  }
  .dots .point {
    fill: #fff;
    stroke: #fff;
    stroke-width: 0;
    transition: stroke-width 0.3s linear;
  }
  .dots .outline {
    fill: transparent;
    transition: fill 0.2s linear;
  }
  .dots .dot:hover, .dots .dot:focus {
    .point {
      stroke-width: 0.5;
    }
    .outline {
      fill: rgba(#000, 0.2);
    }
  }
  .dots .dot.active .point {
    stroke-width: 0.7;
    stroke: $arara-yellow;
    fill: $arara-yellow;
  }
  .dots.end .glow,
  .dots .dot.active .glow {
    animation: none;
  }
  .dots .dots-outline {
    fill: none;
    stroke: $arara-yellow;
    stroke-width: 0.702;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 15, 200;
    stroke-dashoffset: -165;
  }
}
@media (orientation: portrait), (max-height: $screen-sm-min / 1.5) {
  .dots {
    display: none;
  }
}
