////
/// Site header styles.
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "../settings";
@import "../colors";
@import "../mixins";

.main-menu {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  &:before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    transition: background-color 0.1s linear;
    visibility: hidden;
    cursor: pointer;
    content: "";
  }
}

.main-menu .links {
  @extend %no-bullets-list;
  font-size: 1.25em;
  ul {
    list-style-type: none;
    list-style-position: inside;
    li:before {
      content: "\2022";
      margin-right: 1ch;
    }
  }
  li {
    margin-top: 0.8em;
  }
}
@media (max-height: $screen-xs-max / 2) {
  .main-menu .links ul li {
    margin-top: 0.6em;
  }
}
.main-menu .links a:not([class]) {
  @extend %fade-out-dotted-link;
}
.main-menu .links .button-rounded {
  margin-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  color: inherit;
  box-shadow: none;
  text-shadow: none;

  &:hover, &:focus, &:active {
    color: #fff;
  }
}

.main-menu .logo-wrapper {
  position: absolute;
  top: 2.5em;
  outline: none;
}
.main-menu .logo-wrapper, .main-menu .hamburger {
  &:focus {
    filter: url(#svg-colorize-yellow);

    &:after {
      filter: none;
    }
  }
}
.main-menu .hamburger {
  position: fixed;
  top: 2.5em;
  background-color: transparent;
  border: none;
  color: #fff;
  transition: transform 0.1s linear;
  transform: translateX(0);
  cursor: pointer;

  &:after {
    display: inline-block;
    background-image: inline-image('menu.svg');
    background-size: cover;
    vertical-align: bottom;
    filter: drop-shadow(0 0.1em 0.1em rgba(#000, 0.4));
    content: "";
  }
  .text {
    line-height: 1;
    font-weight: $headings-font-weight-semibold;
    margin-right: 0.5ch;
    transition: opacity 0.1s linear;
    opacity: 1;
  }
  &.clipped .text {
    opacity: 0;
  }
}

.main-menu .navigation {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  min-width: 14em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 0.1s linear;
}

.main-menu.opened {
  color: $arara-dark-gray;

  .navigation {
    transform: translateX(0);
  }
  .hamburger:after {
    @extend %close-icon;
  }
  .hamburger .text {
    display: none;
  }
  .logo-wrapper, .hamburger {
    &:focus {
      filter: none;
    }
  }
  &:before {
    background-color: rgba(#000, 0.3);
    visibility: visible;
  }
}

@include screen-portrait {
  .main-menu .navigation {
    width: 60vw;
  }
  .main-menu .logo-wrapper {
    left: 2.5em;
  }
  .main-menu .hamburger {
    right: 2.5em;
  }
  .main-menu .hamburger:after {
    width:  1.8em;
    height: 1.8em;
  }
  .main-menu .hamburger .text {
    font-size: 1.8em;
  }
  .main-menu .logo {
    height: 1.8em;
  }
  .main-menu .hamburger.clipped {
    transform: translate(1em, -1em);
  }
}

@include screen-landscape {
  .main-menu .navigation {
    width: 25vw;
  }
  .main-menu .logo-wrapper {
    left: 5em;
  }
  .main-menu .hamburger {
    right: 5em;
  }
  .main-menu .hamburger:after {
    width:  1.5em;
    height: 1.5em;
  }
  .main-menu .hamburger .text {
    font-size: 1.5em;
  }
  .main-menu .logo {
    height: 1.5em;
  }
  .main-menu.opened .hamburger,
  .main-menu .hamburger.clipped {
    transform: translate(3.5em,-1em);
  }
}
