////
/// Base styles for modal windows.
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "../mixins";

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  visibility: hidden;
  color: $arara-dark-gray;
  opacity: 0;
  transition: opacity 0.2s linear, box-shadow 0.2s linear;
}
.modal:target {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%);
  padding: 2em;
  background-color: #fff;
  box-shadow: 0.5em 0.5em 2em rgba(#000, 0.5);
  z-index: 2;

  .close {
    @extend %close-icon;
    position: absolute;
    top: 2em;
    right: 2em;
    width: 1.5em;
    height: 1.5em;
    background-size: cover;
    outline: none;
  }
  .right {
    text-align: right;
  }
}
.modal .button-rounded {
  border-color: $arara-dark-gray;
  color: $arara-dark-gray;
  transition: background-color 0.2s linear, color 0.2s linear, border-color 0.2s linear;
  &:hover, &:focus, &:active {
    border-color: darken($arara-yellow, 5%);
    background-color: $arara-yellow;
  }
}
.modal + .overlay {
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.2s linear;
}
.modal:target + .overlay {
  right: 0;
  bottom: 0;
  background-color: rgba(#000, 0.2);
  z-index: 1;
}


@include screen-portrait {
  .modal:target {
    width: 70vw;
  }
}
@include screen-landscape {
  .modal:target {
    width: 40vw;
  }
}
