////
/// Animated scroll arrow for the first section.
/// @author Semyon Filippov <filippov.sem@gmail.com>
////

@include screen-portrait {
  #scroll-tip {
    display: none;
  }
}
#scroll-tip {
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 0);
  width: 1.8em;
  height: 5.0em;
  animation: 12s showup;
}
#scroll-arrow {
  animation: 5s ease 7s infinite revolve;
}
@keyframes revolve {
   0% { transform: translateY(     0 ); opacity: 1; }
   5% { transform: translateY(  -1px ); opacity: 1; }
  15% { transform: translateY(  10px ); opacity: 0; }
  16% { transform: translateY( -10px ); opacity: 0; }
  25% { transform: translateY(   1px ); opacity: 1; }
  30% { transform: translateY(     0 ); opacity: 1; }
}
@keyframes showup {
   0% { opacity: 0; }
  95% { opacity: 0; }
 100% { opacity: 1; }
}