////
/// Styles for the youtube lightbox.
/// @author Semyon Filippov <filippov.sem@gmail.com>
////

.lightbox {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(#000, 0.85);
  transition: opacity 0.2s linear;
  z-index: 3;
}
.lightbox:target {
  outline: none;
  visibility: visible;
  opacity: 1;
}
.lightbox a {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.lightbox iframe {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 45vw; /* 16:9 */
  border: none;
  z-index: 4;
}
.lightbox:target iframe {
  display: block;
}
.lightbox a:before {
  @extend %close-icon;
  content: 'Close';
  display: inline-block;
  position: fixed;
  top: 3vw;
  right: 3vw;
  font-weight: bold;
  text-shadow: none;
  padding-right: 1.6em;
  filter: brightness(0) invert(1);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}
.lightbox iframe:not(:hover) + a:hover:before {
  filter: url(#svg-colorize-yellow);
}
@include screen-portrait {
  .lightbox iframe {
    left: 0;
    transform: translate(0, -50%);
    width: 100vw;
    height: 56.25vw; /* 16:9 */
  }
  .lightbox a:before {
    top: 25vw;
    right: 7vw;
  }
}
