////
/// Landing fifth section styles.
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "../mixins";
@import "../colors";
@import "../functions";

$colors-portrait-ratio: 757px/1346px;
$colors-landscape-ratio: 1920px/1080px;

#colors .fullscreen:after {
  position: absolute;
  width: 7em;
  height: 7em;
  background-image: inline-image('loading.svg');
  background-size: cover;
  transform: translate(-50%, -50%);
  opacity: 0;
  content: "";
}
#colors .fullscreen.loading:after {
  opacity: 0.8;
  transition: opacity ease-in 1s;
}
@include screen-portrait {
  #colors .fullscreen {
    @include complex-background-cover($colors-portrait-ratio);
  }
  #colors .fullscreen:after {
    left: 50%;
    top: 75%;
  }
  .color-selection {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 1em;
    justify-content: center;
  }
  .color-selection .colors-list {
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-right: -2rem;
  }
  .color-selection .color {
    margin-top: 2rem;
    margin-right: 2rem;
  }
}
@include screen-landscape {
  #colors .fullscreen {
    @include complex-background-cover($colors-landscape-ratio);
  }
  #colors .fullscreen:after {
    left: 25%;
    top: 50%;
  }
}
