////
/// Common styles for landing sections.
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "../settings";
@import "../mixins";

.viewport-section {
  @extend %viewport-section;
  position: relative;
  display: flex;
  color: #fff;
  text-shadow: $sections-text-shadow;
  overflow: hidden;
}
.viewport-section .fullscreen {
  @extend %complex-background-cover;
  z-index: -1;
  pointer-events: none;
}
.viewport-section.play {
  &:after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 7em;
    height: 7em;
    background-image: inline-image('play.svg');
    background-size: cover;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s linear;
    z-index: 1;
    content: "";
  }
}
.viewport-section .column {
  position: relative;
}

.viewport-section .heading {
  @extend %heading-h2-semibold;
}
.viewport-section .heading-large {
  @extend %heading-h1-thin;
}

@include screen-portrait {
  .viewport-section:before {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: $sections-gradient-height;
    background-image: $sections-gradient;
    pointer-events: none;
    content: "";
  }
  .viewport-section {
    justify-content: center;
  }
  .viewport-section .column {
    padding: $sections-padding-portrait;
    text-align: center;
  }
  .hide-on-portrait {
    display: none;
  }
}
@include screen-landscape {
  .viewport-section.play {
    &:before, &:after {
      left: 25%;
    }
  }
  .viewport-section {
    align-items: center;
  }
  .viewport-section.illustrated.from-right {
    justify-content: flex-end;
  }
  .viewport-section .column {
    padding: $sections-padding-landscape;
  }
  .show-on-portrait {
    display: none;
  }
}
