////
/// Landing second section styles.
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "../mixins";

@include screen-portrait {
  #battery-free {
    background-image: image-url('magnetic-field-portrait.jpg');
  }
  #battery-free::before {
    height: 18rem;
    background-image: linear-gradient( to top, rgba(#000, 0), rgba(#000, 0.6), rgba(#000, 0.7) );
  }
  #battery-free .video-link {
    margin-top: 10vh;
  }
}
@include screen-landscape {
  #battery-free {
    background-image: image-url('magnetic-field.jpg');
  }
  #battery-free .heading {
    margin-top: 4em;
  }
}
