////
/// Site footer styles.
/// @author Semyon Filippov <filippov.sem@gmail.com>
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "../settings";
@import "../colors";
@import "../mixins";

$icon-size: 1.5em;
$icon-list: (
  'mail',
  'twitter',
  'facebook',
  'youtube',
  'folder',
  'document',
  'zip'
);

.main-footer {
  position: relative;
  background-color: $arara-dark-gray;
  color: #fff;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $footer-gradient-height;
    background-image: $footer-gradient;
    content: "";
  }
}
.main-footer .column {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}
.main-footer .column .column {
  padding-left: 2.5em;
}
.main-footer .heading {
  @extend %heading-h5-semibold;
}
.main-footer .links {
  @extend %no-bullets-list;
  margin-left: -0.1em;
  li:not(:first-child) {
    margin-top: 1em;
  }
}
.main-footer {
  .icon {
    display: block;
    position: relative;
  }
  .icon:before, .icon:after {
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    margin-right: 1ch;
    vertical-align: middle;
    background-size: cover;
    transition: opacity 0.2s linear;
    content: "";
  }
  .icon:after {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    filter: url(#svg-colorize-yellow);
  }
  .icon:hover, .icon:focus {
    &:before {
      opacity: 0;
    }
    &:after {
      opacity: 1;
    }
  }
  @each $name in $icon-list {
    .#{$name}:before, .#{$name}:after {
      background-image: inline-image('#{$name}.svg');
    }
  }
}

.main-footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s linear;
  outline: none;

  &:hover, &:focus {
    color: $arara-yellow;
  }
}

.main-footer .about {
  font-size: 0.9em;
  line-height: 1.5;
}
.main-footer .image-wrapper:focus {
  filter: url(#svg-colorize-yellow);
}
.main-footer .cc, .main-footer .footer-logo {
  height: $icon-size;
  vertical-align: middle;
  border: 0;
}
.main-footer .cc {
  padding: 0 0.3em 0.2em 0;
}

#address-link {
  margin-top: 0.5em;
  @extend %fade-out-dotted-link;
}
#mailing-address address {
  margin-top: 2em;
}

@include screen-portrait {
  .main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: transparent;

    &:before {
      display: none;
    }
  }
  .main-footer .about {
    text-align: center;
    padding: 0 2em 10vh;
  }
  .main-footer .footer-logo {
    height: 2.5em;
  }
  .main-footer .column .column {
    width: 50%;
  }
}
@include screen-landscape {
  .main-footer .about {
    width: 30%;
    padding: 0 1em 0 10vw;
  }
  .main-footer {
    padding: 3rem 0;
  }
  @media (max-height: $root-font-size-minimal / 0.024) {
    .main-footer .about {
      width: 40%;
      font-size: $root-font-size-minimal;
    }
  }
}
