////
/// Landing low temperatures section styles.
/// @author Semyon Filippov <filippov.sem@gmail.com>
////

@import "../mixins";

@include screen-portrait {
  #low-temperatures {
    background-image: image-url('frosted-portrait.jpg');
  }
  #low-temperatures .video-link {
    margin-top: 10vh;
  }
}
@include screen-landscape {
  #low-temperatures {
    background-image: image-url('frosted.jpg');
  }
}
