////
/// Landing first section styles.
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "../settings";
@import "../mixins";

#main {
  background-image: image-url('wabi-studio.jpg');
  align-items: flex-start;
  justify-content: center;
}
#main .heading-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
}
#main .heading-large {
  margin-top: -0.5rem;
  padding: 0 1em;
  text-align: center;
}

@include screen-portrait {
  #main .heading-large {
    margin-top: -1rem;
    font-size: $headings-font-size-h2;
  }
}
@include screen-landscape {
  @media (max-height: $root-font-size-minimal / 0.024) {
    #main .heading-large {
      font-size: $headings-font-size-h2;
    }
    #main .heading-wrapper {
      margin-top: -0.5em;
    }
  }
}
