////
/// Landing third section styles.
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "../mixins";

$video-safety-portrait-ratio: 608px/1080px;
$video-safety-landscape-ratio: 1920px/1080px;

@include screen-portrait {
  #safety .fullscreen {
    @include complex-background-cover($video-safety-portrait-ratio);
  }
}
@include screen-landscape {
  #safety .fullscreen {
    @include complex-background-cover($video-safety-landscape-ratio);
  }
}
