////
/// Landing last section styles.
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "../settings";
@import "../mixins";

.subscribe-form .input-field {
  display: inline-block;
  margin-top: 1em;
  margin-left: -0.25em;
  width: 100%;
  max-width: 400px;
}
.subscribe-form .button-rounded {
  margin-left: -0.5em;
  margin-right: 1.5em;
}
.subscribe-form {
  .email-container {
    position: relative;
  }
  &.error .message:before,
  &.ok .message:before {
    margin: 0 1ch 0 -0.35em;
  }
  .message:first-line {
    line-height: 2.5;
  }
  .message:empty {
    display: none;
  }
}
.subscribe-form p {
  margin-top: 0;
}
.subscribe-form .content {
  margin-top: 1.5em;
}
#where-to-buy a.email {
  @extend %fade-out-link;
}

@include screen-portrait {
  #where-to-buy {
    align-items: center;
    overflow: visible;
  }
  #where-to-buy::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    background-image: image-url('light-on-surface-double-section.jpg');
    background-size: cover;
    background-position: center;
  }
  #where-to-buy .column {
    padding: 0 0 20vh;
  }
  .subscribe-form .input-field {
    max-width: none;
  }
  .subscribe-form p {
    line-height: 2;
    margin: auto;
    margin-top: 0;
    max-width: 80%;
  }
  .subscribe-form .message {
    max-width: 90%;
  }
}
@include screen-landscape {
  #where-to-buy {
    background-image: image-url('light-on-surface.jpg');
  }
  #where-to-buy .column {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    padding-left: 0;
    padding-right: 10vmin;
  }
  .subscribe-form {
    max-width: 60vmin;
    line-height: 1.5;
  }
  .subscribe-form p {
    line-height: 1.75;
  }
  .subscribe-form .message {
    margin: 0.5em 0 -0.75em;
  }
}
