////
/// Landing tech specs section styles.
/// @author Semyon Filippov <filippov.sem@gmail.com>
////

@import "../mixins";

@include screen-portrait {
  #tech-specs {
    background-image: image-url('blueprint-portrait.jpg');
  }
  #tech-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@include screen-landscape {
  #tech-specs {
    background-image: image-url('blueprint.jpg');
  }
  #tech-specs .pdf-link {
    margin-left: 2em;
  }
}
