////
/// Landing fourth section styles.
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "../mixins";

@include screen-portrait {
  #water-resistance {
    background-image: image-url('water-splash-portrait.jpg');
  }
}
@include screen-landscape {
  #water-resistance {
    background-image: image-url('water-splash.jpg');
  }
  #water-resistance .heading {
    margin-top: 5em;
  }
}
