////
/// complex-background-cover mixin.
/// @access public
/// @group helpers
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

/// A mixin for setting the correct width and min-height for the wrappers
/// which simulate background-size: cover.
/// @param {Number} $aspect-ratio - a video $width/$height ratio.
@mixin complex-background-cover($aspect-ratio) {
  .background {
    width: 100vh * $aspect-ratio;
    min-height: 100vw / $aspect-ratio;
  }
}
