////
/// fluid-font-size mixin.
/// @access public
/// @group helpers
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "../functions/fluid-font-size";

/// An auxiliary mixin which makes the text size linearly dependent on the
/// viewport size.
/// @param {Length} $viewport-min-size - viewport `min-width` and `min-height` values.
/// @param {Length} $font-min-size - minimum `font-size` value.
/// @param {Length} $viewport-max-size - viewport `max-width` and `max-height` values.
/// @param {Length} $font-max-size - maximum `font-size` value.
@mixin fluid-font-size (
  $viewport-min-size,
  $font-min-size,
  $viewport-max-size,
  $font-max-size
) {
  font-size: $font-min-size;
  @media (orientation: landscape) and (min-width: $viewport-min-size) {
    font-size: fluid-font-size($viewport-min-size, $font-min-size,
      $viewport-max-size, $font-max-size);
  }
  @media (orientation: portrait) and (min-height: $viewport-min-size) {
    font-size: fluid-font-size($viewport-min-size, $font-min-size,
      $viewport-max-size, $font-max-size, vh);
  }
  @media (orientation: landscape) and (min-width: $viewport-max-size),
         (orientation: portrait) and (min-height: $viewport-max-size) {
    font-size: $font-max-size;
  }
}
