////
/// image-background mixin.
/// @access public
/// @group helpers
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

/// A simple mixin for adding base background image styles.
/// @param {String} $image - an image filename, including extension.
/// @param {Boolean} $inline [false] - whether the image data URI should be
///   included.
@mixin image-background (
  $image,
  $inline: false
) {
  $size: image-size($image);
  background-image: if($inline, inline-image($image), image-url($image));
  width: nth($size, 1);
  height: nth($size, 2);
}
