////
/// A set of mixins to simplify the creation of media queries rules.
/// @access public
/// @group helpers
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "../settings";

/// A media query for portrait screens.
@mixin screen-portrait {
  @media (orientation: portrait) {
    @content;
  }
}

/// A media query for landscape screens.
@mixin screen-landscape {
  @media (orientation: landscape) {
    @content;
  }
}

/// A media query for selecting only screens with viewport width < 768px.
@mixin screen-tiny-only {
  @media (max-width: $screen-xs-max) {
    @content;
  }
}

/// A media query for selecting screens with viewport width ≥ 768px.
@mixin screen-small-up {
  @media (min-width: $screen-sm-min) {
    @content;
  }
}

/// A media query for selecting only screens with viewport width in
/// [768px, 992px).
@mixin screen-small-only {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @content;
  }
}

/// A media query for selecting screens with viewport width ≥ 992px.
@mixin screen-medium-up {
  @media (min-width: $screen-md-min) {
    @content;
  }
}

/// A media query for selecting screens with viewport width < 992px
@mixin screen-medium-down {
  @media (max-width: $screen-sm-max) {
    @content;
  }
}

/// A media query for selecting screens with viewport width in
/// [992px, 1200px).
@mixin screen-medium-only {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @content;
  }
}

/// A media query for selecting screens with viewport width ≥ 1200px.
@mixin screen-large-up {
  @media (min-width: $screen-lg-min) {
    @content;
  }
}

/// A media query for selecting screens with viewport width < 1200px.
@mixin screen-large-down {
  @media (max-width: $screen-md-max) {
    @content;
  }
}

/// A media query for selecting screens with viewport width up to the given
/// value.
/// @param {length} $max - viewport maximum width (not included).
@mixin screen-max ($max) {
  @media (max-width: $max) {
    @content;
  }
}

/// A media query for selecting screens with viewport width in the given
/// interval.
/// @param {Length} $min - viewport minimum width (included).
/// @param {length} $max - viewport maximum width (not included).
@mixin screen-interval ($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

/// A media query for selecting screens with viewport width in the first half
/// of the given interval.
/// @param {Length} $min - viewport minimum width (included).
/// @param {length} $max - viewport maximum width (not included).
@mixin screen-former-half-interval ($min, $max) {
  $max: $min + round(($max - $min) / 2) - 1px;
  @include screen-interval ($min, $max) {
    @content;
  }
}

/// A media query for selecting screens with viewport width in the second half
/// of the given interval.
/// @param {Length} $min - viewport minimum width (included).
/// @param {length} $max - viewport maximum width (not included).
@mixin screen-latter-half-interval ($min, $max) {
  $min: $min + round(($max - $min) / 2);
  @include screen-interval ($min, $max) {
    @content;
  }
}
