////
/// A set of math power functions.
/// @group helpers
/// @access public
/// @author Daniel Perez Alvarez <daniel@unindented.org>
////

/// Returns power function value for the given base and exponent.
/// @param {Number} $number - base value.
/// @param {Number} $exp - exponent value.
/// @return {Number} - $number^$exp value.
@function pow($number, $exp) {
  $value: 1;
  @if $exp > 0 {
    @for $i from 1 through $exp {
      $value: $value * $number;
    }
  }
  @else if $exp < 0 {
    @for $i from 1 through -$exp {
      $value: $value / $number;
    }
  }
  @return $value;
}

/// Returns factorial value for the given number.
/// @param {Number} $number
/// @return {Number} - $number! value.
@function fact($number) {
  $value: 1;
  @if $number > 0 {
    @for $i from 1 through $number {
      $value: $value * $i;
    }
  }
  @return $value;
}
