////
/// A set of trigonometry functions.
/// @group helpers
/// @access public
/// @author Daniel Perez Alvarez <daniel@unindented.org>
////

@import "power";

/// Returns π value up to 18 digits.
/// @return {Number} - the approximate π value
@function pi() {
  @return 3.141592653589793238;
}

/// Returns angle value in radians.
/// @param {Number} $angle
/// @return {Number} - angle value in radians
@function rad($angle) {
  $unit: unit($angle);
  $unitless: $angle / ($angle * 0 + 1);
  // If the angle has 'deg' as unit, convert to radians.
  @if $unit == deg {
    $unitless: $unitless / 180 * pi();
  }
  @return $unitless;
}

/// Returns sine value for the given angle.
/// @param {Number} $angle - angle in radians
/// @return {Number} - sine value
@function sin($angle) {
  $sin: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $sin: $sin + pow(-1, $i) * pow($angle, (2 * $i + 1)) / fact(2 * $i + 1);
  }
  @return $sin;
}

/// Returns cosine value for the given angle.
/// @param {Number} $angle - angle in radians
/// @return {Number} - cosine value
@function cos($angle) {
  $cos: 0;
  $angle: rad($angle);
  // Iterate a bunch of times.
  @for $i from 0 through 10 {
    $cos: $cos + pow(-1, $i) * pow($angle, 2 * $i) / fact(2 * $i);
  }
  @return $cos;
}

/// Returns tangent value for the given angle.
/// @param {Number} $angle - angle in radians
/// @return {Number} - tangent value
@function tan($angle) {
  @return sin($angle) / cos($angle);
}
