////
/// Arara colors.
/// @access public
/// @group colors
/// @type Color
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

/// Used in the GUI elements.
$arara-yellow: #f3b100;

/// Used in the inputs placeholders.
$arara-gray: rgba(#fff, 0.9);
/// Used in the main footer background and text on white background.
$arara-dark-gray: #333;

/// Used in the color selection component.
$arara-red: #b30c0c;
/// Used in the color selection component.
$arara-orange: #f66e00;
/// Used in the color selection component.
$arara-yellow2: #f1b700;
/// Used in the color selection component.
$arara-green: #19bb33;
/// Used in the color selection component.
$arara-blue: #034ef0;
/// Used in the color selection component.
$arara-gray2: #242625;


/// A set of arara lights colors.
/// @type Map
$arara-colors: (
  'red': $arara-red,
  'white': #fff,
  'blue': $arara-blue,
  'green': $arara-green,
  'yellow': $arara-yellow2,
  'orange': $arara-orange
);
