////
/// Landing page global styles.
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "settings";
@import "mixins";

@font-face {
  font-family: "Lato";
  src: // local("Lato Light"),
       url("../assets/fonts/lato-light.woff2") format("woff2"),
       url("../assets/fonts/lato-light.woff") format("woff"),
       url("../assets/fonts/lato-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: // local("Lato Light Italic"),
       url("../assets/fonts/lato-light-italic.woff2") format("woff2"),
       url("../assets/fonts/lato-light-italic.woff") format("woff"),
       url("../assets/fonts/lato-light-italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: // local("Lato SemiBold"),
       url("../assets/fonts/lato-semibold.woff2") format("woff2"),
       url("../assets/fonts/lato-semibold.woff") format("woff"),
       url("../assets/fonts/lato-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: #000;
  font: $font-weight-base #{$font-size-base}/#{$line-height-base} $font-family-base;
}

a {
  display: inline-block;
}

@include screen-portrait {
  html {
    font-size: $root-font-size-portrait;
  }
}
@include screen-landscape {
  html {
    font-size: $root-font-size-landscape;
    @media (max-height: $root-font-size-minimal / 0.024) {
      font-size: $root-font-size-minimal;
    }
  }
}

#svg-filters {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
}

strong {
  font-weight: $headings-font-weight-semibold;
}

p {
  margin-top: 1em;
}
