////
/// Styles for GUI elements.
/// @group gui
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

@import "settings";
@import "colors";
@import "components/menu";
@import "components/color-selection";
@import "components/modal-window";
@import "components/scroll-tip";
@import "components/youtube-lightbox";
@import "components/dots";

/// Common border-width value for gui elements.
/// @type Length
$border-width: 0.1875rem;

.input-field {
  background-color: transparent;
  padding: 0.75em 0.25em;
  border: solid $arara-yellow;
  border-width: 0 0 $border-width 0;
  border-radius: 0;
  // Remove red "outline" for :invalid state:
  box-shadow: none;
  text-shadow: $sections-text-shadow;
  transition: border-color 0.2s linear;
  line-height: 1;
  color: inherit;

  &::placeholder {
    font-style: italic;
    color: $arara-gray;
  }
  &:invalid:not(:focus) {
    border-color: lighten($arara-red, 5%);
  }
}

.tooltip {
  position: absolute;
  left: -1em;
  right: -1em;
  bottom: 100%;
  display: inline-block;
  padding: 0.5em 1em;
  transition: opacity 0.1s linear;
  background-color: #2c3845;
  border-radius: 0.2em;
  font-size: 0.9em;
  line-height: 1.25;
  text-align: left;
  z-index: 1;

  b {
    font-weight: 700;
  }
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
  &:after {
    position: absolute;
    bottom: -0.9em;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1em 1em 0 1em;
    border-color: #2c3845 transparent transparent transparent;
    transform: translateX(-50%);
    content: "";
  }
}

.button-rounded {
  display: inline-block;
  background-color: rgba(#000, 0);
  padding: 0.5em 1.5em;
  color: $arara-yellow;
  font-weight: $headings-font-weight-semibold;
  border: $border-width solid $arara-yellow;
  border-radius: 2em;
  line-height: 1;
  cursor: pointer;
  transition: background-color 0.2s linear, color 0.2s linear;
  text-decoration: none;
  text-shadow: 0.05em 0.3em 0.5em rgba(#000, 0.2);
  box-shadow: 0 0.3em 0.5em rgba(#000, 0.1);
  outline: none;

  &:hover, &:focus {
    background-color: $arara-yellow;
    color: #fff;
  }
  &:active {
    background-color: darken($arara-yellow, 10%);
    color: #fff;
  }
}

.subscribe-form .privacy {
  color: $arara-gray;
  @extend %fade-out-dotted-link;
}
.subscribe-form.error .input-field {
  border-color: lighten($arara-red, 5%);
}
.subscribe-form {
  .message:before {
    display: none;
    vertical-align: middle;
    content: "";
  }
  &.error .message:before,
  &.ok .message:before {
    display: inline-block;
    height: 1.75em;
    width: 1.75em;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &.error .message:before {
    background-image: inline-image('error.svg');
  }
  &.ok .message:before {
    background-image: inline-image('success.svg');
  }
}
.subscribe-form .message a {
  @extend %fade-out-link;
}

.video-link,
.pdf-link {
  @extend %section-content-link;
}
.video-link:before, .video-link:after {
  background-image: image-url('play.svg');
}
.pdf-link:before, .pdf-link:after {
  background-image: image-url('pdf.svg');
}
