////
/// Global reset styles.
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

html, body, h1, h2, h3, p, ul, button, address {
  margin: 0;
  padding: 0;
}

input, button, address {
  font: inherit;
  &:focus {
    outline: none;
  }
}

button::-moz-focus-inner {
  border: none;
}
