////
/// Global variables.
/// @access public
/// @type Length
/// @author Daniil Filippov <filippovdaniil@gmail.com>
////

/// Minimum viewport width for small screens.
$screen-sm-min: 768px;
/// Minimum viewport width for medium screens.
$screen-md-min: 992px;
/// Minimum viewport width for large screens.
$screen-lg-min: 1200px;
/// Maximum viewport width for very small screens.
$screen-xs-max: $screen-sm-min - 1px;
/// Maximum viewport width for small screens.
$screen-sm-max: $screen-md-min - 1px;
/// Maximum viewport width for medium screens.
$screen-md-max: $screen-lg-min - 1px;

/// Default font-size value for the html element.
$root-font-size-default: 16px;
/// Small font-size value for the html element.
$root-font-size-small: 13px;
/// Tiny font-size value for the html element.
$root-font-size-tiny: 11px;

/// font-size value for the portrait layout.
$root-font-size-portrait: 4vmin;
/// font-size value for the landscape layout.
$root-font-size-landscape: 2.4vmin;
/// Minimal font-size value.
$root-font-size-minimal: 11px;

/// Base font-family value for the body element.
/// @type List
$font-family-base: 'Lato', Arial, sans-serif;
/// Base font-size value for the body element.
$font-size-base: 1rem;
/// Base line-height value for the body element.
$line-height-base: 1.25;
/// Base font-weight value for the body element.
$font-weight-base: 300;

/// font-size value for h1-like headings.
$headings-font-size-h1: 2.3em;
/// font-size value for h2-like headings.
$headings-font-size-h2: 1.7em;
/// font-size value for h3-like headings.
$headings-font-size-h3: 1.5em;
/// font-size value for h4-like headings.
$headings-font-size-h4: 1.3em;
/// font-size value for h5-like headings.
$headings-font-size-h5: 1em;
/// Base margin-bottom value for headings.
$headings-margin-bottom: 0.75em;
/// font-weight value for thin headings.
$headings-font-weight-thin: 300;
/// font-weight value for semibold headings.
$headings-font-weight-semibold: 600;

/// text-shadow value for the text in landing sections.
/// @type text-shadow
$sections-text-shadow: 0.05em 0.3em 0.3em rgba(#000, 0.3);
/// Landing sections gradient on the portrait layout.
/// @type linear-gradient
$sections-gradient: linear-gradient(0deg, rgba(#000, 0), rgba(#000,0.3));
/// Landing sections gradient height value.
$sections-gradient-height: 12.5rem;
/// Main footer gradient.
/// @type linear-gradient
$footer-gradient: linear-gradient(0deg, rgba(#000, 0), rgba(#000, 0.1));
/// Main footer gradient height value.
$footer-gradient-height: 2rem;
/// Landing sections padding value for the portrait layout.
$sections-padding-portrait: 9vh 0;
/// Landing sections padding value for the landscape layout.
$sections-padding-landscape: 0 14vw;
